<div class="home_page_text">
  <h3> Hi! Welcome to Tastebud! A website where you can see what other
        people think about restaurants.
  </h3>
  <p>
    Here's how it works. Click <a class="links" href="<%= url_for(:action => 'index', :controller => 'restaurants') %>"><b>here</b></a>
    to view a listing of all restaurants users have talked about on this website. Search for restaurants by name or city. 
    Or create one if it doesn't exist!
  </p>
  <p>
    See what other people are saying and post reviews. You need to be a member of the site to view/submit reviews.
  </p>
  <p>
    Have fun! Happy browsing!
  </p>
  <p>
    Tastebud team.
  </p>
</div>
