/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.centered {
  margin: 0 auto;
  width: 748px;
  border:1px solid;
}

table.hovertable { 
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  width: 748px;
}

table.hovertable th {
  background-color:#B57F53;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #563B26;      
  height: 35px;
}

table.hovertable tr {
  background-color: #FDD9BF;
}

table.hovertable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #563B26;
}

div.objectdetail {
  padding-left: 10px;
  width: 732px;
  margin-top: 30px;
  background-color: #FDD9BF;
  border-style: solid;
  border-color: #563B26;
}

div.objectdetail h1 {
  font-style:italic;
  font-family: Gabriola;
  font-size: 26px;
}

div.objectdetail p {
  font-family: Century;
  font-size: 16px;
}

div.user_review {
  width: 732px;
  padding-left: 10px;
  margin-top: 30px;
  background-color: #FDD9BF;
  border-style: solid;
  border-color: #563B26;
}

div.user_review h1 {
  font-style:italic;
  font-family: Gabriola;
  font-size: 24px;
}

div.user_review p {
  font-style:italic;
  font-family: Century;
  font-size: 14px;
}

div.user_review hr {
  width = 400px;
}

div#search {
  float: right;  
  padding-left: 25px;
}

h1.listing_heading {
  font-style:italic;
  font-family: Gabriola;
  font-size: 28px;
}

div.home_page_text {
  padding-left: 10px;
  width: 732px;
  margin-top: 30px;
  background-color: #FDD9BF;
  border-style: solid;
  border-color: #563B26;
}

div.home_page_text h3 {
  font-style:italic;
  font-family: Gabriola;
  font-size: 24px;
}

div.home_page_text p {
  font-family: Century;
  font-size: 16px;
}

.home_link {
  float: right;
  padding-left: 25px;
}

label{
  width: 160px;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block
}

.pagination {
  float: right;
  padding: 3px;
  margin: 3px;
  }

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  background-color: #FDD9BF;
}

.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  background-color: #B57F53;
}

.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #FDD9BF;
  color: #FFF;
}

.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

div#footer {
  background-color: #5C0C0B;
  padding: 5px 5px 5px 5px; 
}

div#footer p {
  font-family: Century;
  font-size: 14px;
  font-weight: bold;
  font-style:italic;
  color: #E4A45C;
}
