<p> submitted by 
      <%= @review.user.email %> on 
      <%= @review.created_at %> <br />
      Rating: <%= @review.rating %>(out of 5 stars) <br />
      Comment: <%= @review.comment %>
</p>
<hr>
